layout {
    background-color "transparent"

    focus-ring {
        active-color   "#c4c8bc"
        inactive-color "#8f918a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4c8bc"
        inactive-color "#8f918a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c4c8bc"
        inactive-color "#8f918a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4c8bc80"
    }
}

recent-windows {
    highlight {
        active-color   "#5b6056"
        urgent-color   "#ffb4ab"
    }
}